body {
  margin: auto;
  width: 700px;
  height: 700px;
  padding: 50px;
  font-family: 'Arial', sans-serif; 
  color: #33475b;    
}

/* Centered Image Code */

div {
display: flex;
margin-top: 100px;
justify-content: center;
}
