* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #461D7C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  color: #FDD023;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}

div {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
}

audio {
  width: 350px;
  height: 50px;
}

.container {
  margin: 15px 0;
}

.tombollink3 {
  display: inline-block;
  text-align: center;
  transition: all .3s linear;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  line-height: 75px;
  color: #FDD023;
  font-size: 2.5rem;
  margin: 3px;
}

a.tombollink3:hover {
  opacity: 0.8;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
