body {
  margin: auto;
  max-width: 100%;
  height: auto;
  padding: 100px;
  font-family: 'Arial', sans-serif;
}

/* Centered Image Code */

h1 {
    text-align: center;
    color:  #FDD023;
    font-size: 60px;
    margin-top: 0px;
    font-weight: 900;
}

div {
display: flex;
margin-top: 0px;
justify-content: center;
}

audio { width: 350px; }
